
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


.navbar{
    background-color: black;
    padding: 10px ;


}
.navbar-dark .navbar-nav .nav-link{
    font-family: 'Lato', sans-serif;
    margin:10px  50px;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
}





.navbar-dark .navbar-nav .nav-link:hover{
    color:greenyellow;

}




.home{
    background-size: cover;
    background-image: url('./images/backgound.jpg');
    display: flex;
    opacity: 0.9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 100%;
    text-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    color: white;
}


.about{
    padding: 10px;
}
.about img{
    width: 100vw;
    height: 100%;
}

.heading{
    width: 75%;
    margin: 0  auto;
    padding-top: 2.5rem;
  
  
}

