
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    
}

.navbar{
    background-color: black;
    padding: 10px ;
    
}


.navbar-brand{
    font-size: 30px;

}

.nav-item label{
    color: white;
    font-size: 1rem;
}


.navbar-dark .navbar-nav .nav-link{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 50px ;
}





.navbar-dark .navbar-nav .nav-link:hover{
    color:greenyellow;

}


.darkmode{
    margin-top: 10px;
}




.home-container{
    width: 100%;
    padding: 0;

}


.home{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url('./images/backgound.jpg');
    display: flex;
    opacity: 0.9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 100%;
    text-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    color: white;
}



.about{
    padding: 10px;
    text-align: left;

}

.section-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0;
    margin-top: 3rem;


}
.about .aboutimg{
    height: 100%;
}

.about .abouttext{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.heading{
    width: 75%;
    color: black;
    margin: 0  auto;
    padding-top: 2.5rem;
    font-size: 2rem;
    text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  
  
}
.connectheading{
    width: 75%;
    color: white;
    margin: 0  auto;
    padding-top: 0rem;
    font-size: 2rem;
    text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  
  
}


 
hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top:0.3rem ;
    margin-bottom:1rem ;
  
  
  }


  .lead{
      font-size: 2rem;
      line-height: 4rem;
  }


    .contact .contactsection{
    text-align: center;

        padding:10px 40px;
        margin-bottom: 10rem;
}

.contact input{
    margin:10px 0px;
}


.button{
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    color:white;
    border-radius: 25px;
    outline: none;
    border: none ;
    background-color:rgba(255, 65, 75, 0.897); 
    display: inline-block;    
        
}

.buttoncontainer{
    margin-top: 30px;
}



.section{
    padding: 30px;
    background-color: #fff;
    margin: 50px 50px;
    width: 90%;
    border-radius: 18px;

    
    
}
.section:hover{
    box-shadow: 0px 0px 10px  rgba(0,0,0,0.3);
    /* transform: scale(1.05); */
    transition: 0.3s ease-in;    

}


.dmode{
    background-color: black;
    color: white;
}






.footer{
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 10px;
    border-top: 1px solid white;
}

.footer h1{
    font-size: 3rem;
    margin: 40px 0;
}

.footer  hr{
    width: 50%;
    
}






  .fa {
    
    font-size: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    margin: 30px;
    border-radius: 50%;
}

.fa:hover {
    transform: scale(2.0);
    box-shadow: 0px 0px 5px  #dcdde1;
  }




.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #007bb5;
  color: white;
}

.fa-instagram {
    background: #fff;
    color: red;
  }
.fa-github {
    background: #fff;
    color:#000;
  }


  .social{
      margin-top: 50px;
  }
  


@media(max-width : 998px){
    html{
        font-size: 50%;
        
    }



    .contact{
        font-size: 15px;
    }
    .contact input{
        font-size: 2rem;
    }
    .contact textarea{
        font-size: 2rem;
        padding: 20px;
    }

    .nav-link{
        font-size: 2rem;
    }

    .nav-item label{
        color: white;
        font-size: 2rem;
    }

    .navbar .navbar-toggler{
        font-size: 2rem;
    }

    .footertext h5{
        font-size: 2.5rem;
    
    }

}



@media(max-width : 700px){
    html{
        font-size: 45%;
        
    }

    .nav-link{
        font-size: 2rem;
    }

    .nav-item label{
        color: white;
        font-size: 2rem;
    }

    .about .aboutimg{
    margin-bottom: 80px;

    }

    #pop{
        width: 2rem;
        
    }

    .contact{
        font-size: 15px;
    }
    .contact input{
        font-size: 2rem;
    }
    .contact textarea{
        font-size: 2rem;
        padding: 20px;
    }


   .about  .abouttext{
        font-size: 12rem;
    }

    .social .fa{
        font-size: 20px;
        padding: 10px;
    }

    .footer .footertext{
        font-size: 2rem;
    }

}
@media(max-width : 300px){
    html{
        font-size: 35%;
        
    }

}





 

